.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form{
    display: inline;
}

.alert {
  position: absolute;
  top: 30px;
  left: 200px;
  right: 200px;
}